/Anagram.class
/BinarySearch.class
/BubbleSort.class
/GuessGame.class
/InsertionSort.class
/MergeSort.class
/Palindrome.class
/Permutation.class
/PrimeFactor.class
/PrimeInRange.class
/PrimePalindrome.class
/Regex.class
/RegexUtility.class
/UserDetails.class
/MagicMat.class
